VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=ai-pg-demos.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ai-pg-demos.firebaseio.com
VITE_FIREBASE_PROJECT_ID=ai-pg-demos
VITE_FIREBASE_STORAGE_BUCKET=ai-pg-demos.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=389246838568
VITE_FIREBASE_APP_ID=1:389246838568:web:fbf6202ec839b02fa2521d
VITE_FIREBASE_MEASUREMENT_ID=G-J8G160Q36V
